@page "/login"
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inject NavigationManager NavigationManager

<style>
    .login-page{
        background: linear-gradient(to bottom, #1C1C1C 0%, #29221E 100%);
        overflow: hidden;
        padding-bottom: 2rem; 
        display: flex;
        flex-direction: column;
               
        height: 100vh;
    }
    .login-btn {
        background-color: #0078D4; 
        color: white;
        border: none;
        padding: 10px 20px;
        border-radius: 5px;
        font-size: 16px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

        .login-btn:hover {
            background-color: #005ea6;
        }

    .login-container {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .login-card {
        padding: 20px;
        background: white;
        border-radius: 10px;
        box-shadow: 0 4px 6px rgba(0,0,0,0.1);
        text-align: center;
    }
</style>
<div class="login-page">
    <div class="login-container">
    <div class="login-card">
        <h2>ADMIN</h2>
        <p>Welcome! Login with your ITHS account </p>
        <button class="login-btn" @onclick="BeginLogin">Login</button>
    </div>
    </div>
</div>

@code {
    private void BeginLogin()
    {
        var returnUrl = NavigationManager.ToAbsoluteUri("/admin").ToString(); 
        NavigationManager.NavigateTo($"authentication/login?returnUrl={Uri.EscapeDataString(returnUrl)}", forceLoad: true);
    }

}
